body{
    font-family: 'Montserrat';
}

#title{
    background-color: rgb(255, 255, 255);
    color: #000;
}

a, .nav-link{
    color: #000;
}

.container-fluid{
    padding: 3% 15% 13%;
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat-Bold';
    font-size: 2rem;
    color: #8f8f8f;
}

p{
    color: #fff;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 23%;
    position: absolute;
    right: 17%;
}

#footer{
    padding: 7% 15%;
    background-color: #4c7fff;
    z-index: 1;
    position: relative;
    text-align: center;
}

#title{
    text-align: center;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

.social-icon{
    margin: 20px 10px;
}