body{
    font-family: 'Montserrat';
}

#title{
    background-color: #4c7fff;
    color: #000;
}

a, .nav-link{
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 1%;
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat-Bold';
    font-size: 2rem;
    color: #8f8f8f;
}

p{
    color: #fff;
}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

#footer{
    padding: 7% 15%;
    background-color: #4c7fff;
    z-index: 1;
    position: relative;
    text-align: center;
}

#title{
    text-align: center;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

.social-icon{
    margin: 20px 10px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7% 7%;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}

#contact-details .details h2,
#form-details form h2{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
    line-height: 1.5;
}

#contact-details .details h3{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li p{
    margin: 0;
    font-size: 18px;
    color: #000;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #4c7fff;
    color: #fff;
    border-radius: 100px;
    border: 1px solid #4c7fff;
}

#form-details form button:hover{
    background-color: #0943d3;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 100%;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}